body{
    background-color: lightgray;
    font-family: "Helvetica", sans-serif;
}
h1{
    font-weight: bold;
    color: navy;
    text-align: center;
}

#img{
    border: 6px solid green;
}

.text{
    color: red;
}
p{
    font-style: italic;
}
form{
    margin: 20px;
}
a:hover{
    color: yellow;
}
table{
    border: 4px dashed red;
}
